/*

  Main
  +

*/

/*Inner Page*/
.title-holder{
	background-size: cover;
	background-position: center;
	position: relative;
	padding: 30px 0;
	margin-bottom: 40px;
}
.title-holder .inner-title,
.title-holder .breadcrumbs-area{
	float: left;
	position: relative;
	width: 50%;
	z-index: 2;
}
.title-holder .breadcrumbs-area{
	text-align: right;
}
.title-holder .breadcrumbs-area nav{
	background-color: transparent;
	border: medium none;
    color: inherit;
    margin: 0;
    padding: 10px 0;
}
.title-holder .inner-title h1{
	margin: 0;
	text-transform: uppercase;
}
.site-header .product_list_widget li .quantity,
.site-header-cart .widget_shopping_cart{
	color: $white;
}
.site-header-cart .cart-contents .count{
	opacity: 0.8;
}


.post-meta{
	border-bottom: 1px solid $lighter-grey;
	padding-bottom: 33px;
	margin-bottom: 33px;
}
.hentry.type-post .entry-meta span{
	display: inline-block;
	margin-right: 20px;
}
.hentry.type-post .entry-content{
	float: none;
	width: 100%;
}
.hentry .entry-header{
	border: none;
}

article .blog-thumb{
	max-width: 200px;
	float: left;
}
article .blog-thumb img {
    border: 4px solid $white;
    box-shadow: 0 0 4px 2px $lighter-grey;
}
article .post-content-area {
    margin-left: 230px;
}
article .post-content-area .entry-header{
	display: inline-block;
	margin: 0;
}
article .post-content-area .entry-title{
	border: none;
	padding: 0;
	margin: 0;
}
article .post-content-area .entry-title a{
  @include fontSize(24px);
	font-weight: 800;
}
article .post-content-area .post-meta{
	margin: 0;
	padding: 0;
	border: none;
}
article .post-content-area .post-meta span{
	display: inline-block;
	margin-right: 10px;
  @include fontSize(12px);
}
article .post-content-area .post-meta span a{
	font-weight: 300;
}
article .post-content-area .post-meta span:last-child,
article .post-content-area .post-meta .cat-links::before, 
article .post-content-area .post-meta .tags-links::before{
	margin-right: 0;
}
article .post-content-area .more-link{
	color: $white;
    display: block;
    margin-top: 20px;
    max-width: 200px;
    padding: 8px 20px;
    text-align: center;
}
.comment-subscription-form{
	margin-bottom: 0;
	margin-top: 10px;
}
/* Sidebar*/

.page-template-template-fullwidth-php .content-area{
	width: 100%;
}
.woocommerce-cart .content-area,
.woocommerce-checkout .content-area{
	margin-bottom: 0;
}
.woocommerce-cart .hentry,
.woocommerce-checkout .hentry{
	margin-bottom: 0;
	padding-bottom: 0;
}
.woocommerce-cart .widget-area,
.woocommerce-checkout .widget-area{
	display: none!important;
}
.woocommerce-cart .content-area,
.woocommerce-checkout .content-area{
	margin: 0;
	width: 100%!important;
}
#reviews .commentlist li .comment_container{
	background-color: transparent!important;
	padding: 0!important;
}
.left-sidebar.page-template-template-homepage .content-area{
	float: right;
}
.left-sidebar.page-template-template-homepage .widget-area,
.right-sidebar.page-template-template-homepage .widget-area{
	padding-top: 4.236em;
}
.widget h2.widget-title,
.widget h3.widget-title {
    background-color: $green;
    border-bottom: 1px solid $lighter-grey;
    color: #fff;
    @include fontSize(28px);
    font-weight: 400;
    margin: -10px -20px 10px;
    padding: 5px 20px;
    text-align: left;
}
.widget-area .widget {
    background: $off-white none repeat scroll 0 0;
    padding: 10px 20px;
}
.widget_search form, 
.widget_product_search form{
	margin-bottom: 0;
}
.widget-area ul li {
    border-bottom: 1px solid $lighter-grey;
    margin-bottom: 0;
    padding: 10px 15px;
}


